<h3> Curriculum Details</h3>

<p>
  <i class="material-icons vertical-align-middle padding-bottom-3">import_contacts</i>
  <strong>Name:</strong>
  <% if ! current_user.nil? and current_user.role == "admin" %>
    <%= best_in_place @curriculum, :name, as: :input %>
  <% else %>
    <%= @curriculum.name %>
  <% end %>
</p>

<p>
  <i class="material-icons vertical-align-middle padding-bottom-3">notes</i>
  <strong>Description:</strong>
  <% if ! current_user.nil? and current_user.role == "admin" %>
    <%= best_in_place @curriculum, :description, as: :textarea %>
  <% else %>
    <%= @curriculum.description %>
  <% end %>
</p>

<p>
  <i class="material-icons vertical-align-middle padding-bottom-3">show_chart</i>
  <strong>Ratings:</strong>
  <%= @curriculum.min_rating == 0 ? "Unrated" : @curriculum.min_rating %> - <%= @curriculum.max_rating %>
</p>


<p>
  <strong>Active:</strong>
  <%= @curriculum.active ? "Yes" : "No" %>
</p>