<% if current_user.nil? %>


    <div class="col s6 push-s3 center">
      <div class="card">
        <div class="card-content z-depth-5">
          <span class="card-title center">Login</span>        
          
          <%= form_tag sessions_path do %>
          
          	<div class="control-group" align="left">
              <%= label_tag :email %>
              <div class="controls">
                <%= text_field_tag :email, params[:email] %>
              </div>
            </div>
          
          	<div class="control-group" align="left">
              <%= label_tag :password %>
              <div class="controls">
                <%= password_field_tag :password %>
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <%= submit_tag "Login", :class=>"btn waves-effect waves-light", :style=>"background-color: #ff4081" %>
              </div>
            </div>
            
          
          <% end %>
          <%= link_to 'Register now!', new_family_path, :style=>"color: #00bcd4" %>
        </div>
      </div>
    </div>

      
    <% else %>
       <h3>You're already logged in, silly! Nice try ;)</h3>
    <% end %>

