<h3><%= @student.proper_name %></h3>

<h5>Student Information</h5>
<p><strong>First Name: </strong><%= @student.first_name %></p>
<p><strong>Last Name: </strong><%= @student.last_name %></p>
<p><strong>Parent Emergency Contact: </strong><%= @student.family.phone %></p>
<p><strong>Parent Email: </strong><%= @student.family.email %></p>
<p><strong>Active:</strong>
  <%= @student.active ? "Yes" : "No" %>
</p>