<div class="card" style="background-color: #e1484f">
  <div class="card-content white-text">
    <span class="card-title"> Students </span>
    <% if @students.empty? %>
    <p>No students at this time</p>
    <% else %>
      <table>
        <thead>
          <th>Student</th>
          <th>Rating</th>
          <th>Registered Camps</th>
          <th>Next Camp</th>
        </thead>
          <% for student in @students %>
            <tr>
              <td><%= link_to student.proper_name, student_path(student) %></td>
              <td><%= student.rating %></td>
              <td><%= student.registrations.size %></td>
              <td>&nbsp;
                <% if student.camps.size > 1 %>
                  <%= link_to student.camps.upcoming.first.start_date.strftime("%m/%d/%y"), camp_path(student.camps.upcoming.first) %>
                <% end %>
              </td>
            </tr>
          <% end %>
      </table>
    <% end %>
    <% if can? :create, Student %>
      <div class="card-action" style="red">
        <%= link_to "Add a new student", new_student_path(), :class => "btn waves-effect waves-light gradient-45deg-red-pink mt-2 btn-small z-depth-2" %>
    <% end %>

  </div>
</div>