<h3><%= @instructor.proper_name %></h3>

<h5>Basic Information</h5>
<% unless @instructor.photo_url.nil? %>
<p><%= image_tag @instructor.photo_url, :style => "width:250px;height:250px;border:0;" %></p>
<% end %>

<p>
  <i class="material-icons vertical-align-middle padding-bottom-3">notes</i>
  <strong>Description:</strong>
  <% if ! current_user.nil? and (current_user.role == "admin" || current_user.role == "instructor") %>
    <%= best_in_place @instructor, :bio, as: :textarea %>
  <% else %>
    <%= @instructor.bio %>
  <% end %>
</p>

<p>
  <i class="material-icons vertical-align-middle padding-bottom-3">email</i>
  <strong>Email:</strong>
  <% if ! current_user.nil? and (current_user.role == "admin" || current_user.role == "instructor") %>
    <%= best_in_place @instructor.user, :email, as: :input %>
  <% else %>
    <%= @instructor.email %>
  <% end %>
</p>

<p>
  <i class="material-icons vertical-align-middle padding-bottom-3">phone</i>
  <strong>Phone:</strong>
  <% if ! current_user.nil? and (current_user.role == "admin" || current_user.role == "instructor") %>
    <%= best_in_place @instructor.user, :phone, as: :input, :display_with => :number_to_phone, :helper_options => { :area_code => true } %>
  <% else %>
    <%= number_to_phone (@instructor.phone) %>
  <% end %>
</p>



<p><strong>Active:</strong>
  <%= @instructor.active ? "Yes" : "No" %>
</p>