<!DOCTYPE html>
<html>
<head>
    
    <title>Card &ndash; the better way to collect credit cards</title>
    <meta name="viewport" content="initial-scale=1">
    <!-- CSS is included through the card.js script -->
</head>
<body>
    
    <% if @cart.empty? %>
      <h4 align="center">There are no items in your cart at this time.</h4>
    <% else %>
      <h3>Cart</h3>
    <table>
      <thead>
        <tr>
          <th>Student</th>
          <th>Camp</th>
          <th>Start Date</th>
          <th>Cost</th>
          <th class="align_center">Options</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% session[:cart].each do |ci| %>
          <tr>
            <td><%= ci["student_name"] %></td>
            <td><%= ci["camp_name"] %></td>
            <td><%= ci["date"].to_date.strftime("%m/%d/%y") %></td>
            <td><%= "$#{ci["cost"]}0" %></td>
            <!--<td class="align_center">-->
            <!--    <%# link_to(destroy_cart_path(), method: :delete, data: { confirm: 'Are you sure you wish to delete this information?' }) do %>-->
            <!--        <i class="material-icons">delete</i>-->
            <!--    <%# end %>-->
            <!--</td>-->
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
    
    <% if ! @cart.empty? %>
        <h3 align="center"><%= "Total: $#{@total_price}0" %></h3>
    
        <h1> Checkout </h1>
    
    
    <style>
        .demo-container {
            width: 100%;
            max-width: 350px;
            margin: 50px auto;
        }
        form {
            margin: 30px;
        }
        input {
            width: 200px;
            margin: 10px auto;
            display: block;
        }
    </style>
    <div class="demo-container">
        <div class="card-wrapper"></div>

        <div class="form-container active">
            <form action="">
                <input placeholder="Card number" type="tel" name="number">
                <input placeholder="Full name" type="text" name="name">
                <input placeholder="MM/YY" type="tel" name="expiry">
                <input placeholder="CVC" type="number" name="cvc">
            </form>
        </div>
    </div>

    <script>
        new Card({
            form: document.querySelector('form'),
            container: '.card-wrapper'
        });
    </script>
    
    
    
    
</body>
<% end %>



</html>