<!DOCTYPE html>
<html>
<head>
    
    <title>Card &ndash; the better way to collect credit cards</title>
    <meta name="viewport" content="initial-scale=1">
    <!-- CSS is included through the card.js script -->
</head>
<body>
    
    <% @credit_card_num = 0, @expiration_month = 0, @expiration_year = 0 %>
    
    <% if @cart.empty? %>
      <h4 align="center">There are no items in your cart at this time.</h4>
    <% else %>
      <h3>Cart</h3>
    <table>
      <thead>
        <tr>
          <th>Student</th>
          <th>Camp</th>
          <th>Start Date</th>
          <th>Cost</th>
          <th class="align_center">Options</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% session[:cart].each do |ci| %>
          <tr>
            <td><%= ci["student_name"] %></td>
            <td><%= ci["camp_name"] %></td>
            <td><%= ci["date"].to_date.strftime("%m/%d/%y") %></td>
            <td><%= number_to_currency(ci["cost"]) %></td>
            <td><a data-method="delete" href="<%= delete_from_cart_path(ci["ids"][0], ci["ids"][1]) %>" rel="nofollow">Delete</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
    
    <% if ! @cart.empty? %>
        <h3 align="center"><%= "Total: #{number_to_currency(@total_price)}" %></h3>
    
        <h1> Checkout </h1>
        
    
    
    <style>
        .demo-container {
            width: 100%;
            max-width: 350px;
            margin: 50px auto;
        }
        form {
            margin: 30px;
        }
        input {
            width: 200px;
            margin: 10px auto;
            display: block;
        }
    </style>
    <div class="demo-container">
        <div class="card-wrapper"></div>

        <div class="form-container active">
            <form action="">
                
                <input placeholder="Card number" type="tel" name="number">
                <input placeholder="Full name" type="text" name="name">
                <input placeholder="MM/YY" type="tel" name="expiry">
                <input placeholder="CVC" type="number" name="cvc">
            </form>
        </div>
    </div>

    <script>
        new Card({
            form: document.querySelector('form'),
            container: '.card-wrapper'
        });
    </script>
    
    
    <%= f.input :credit_card_num, label_html: { class: 'active' } %>
    <%= f.input :expiration_month, label_html: { class: 'active' } %>
    <%= f.input :expiration_year, label_html: { class: 'active' } %>
    
    <a data-method="post" href="<%= checkout_path(@credit_card_num, @expiration_year, @expiration_month) %>" rel="nofollow">Checkout</a>
    
</body>
<% end %>



</html>