<h4><%= @location.name %></h4>

<i class="material-icons vertical-align-middle padding-bottom-3">location_on</i>
  <strong>Address:</strong></br>

  <%= render partial: "partials/address_info", locals: {location: @location}, :style=>"margin"  %>

<p>
  <i class="material-icons vertical-align-middle padding-bottom-3">how_to_reg</i>
  <strong>Maximum Capacity:</strong>
  
  <% if ! current_user.nil? and current_user.role == "admin" %>
    <%= best_in_place @location, :max_capacity, as: :input %>
  <% else %>
    <%= @location.max_capacity %>
  <% end %>
</p>

<p>
  <strong>Active:</strong>
  <%= @location.active ? "Yes" : "No" %>
</p>